html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner-image {
  margin-right: 2.5em;
  width: 33.333%;
}
.banner {
  max-height: 500px;
  overflow: hidden;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.banner-content {
  margin: 0;
  display: flex;
  position: absolute;
  bottom: 1.8rem;
  left: 45%;
  transform: translateX(-45%);
  max-width: 50em;
  padding: 0 1rem;
  width: 100%;
}

.banner-ifr {
  align-items: center;
  width: 100%;
  text-align: center;
  margin-right: 1rem;
}

.banner h2 {
  margin: 0;
  margin-left: 2em;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
  max-width: 7em;
}

.banner p {
  margin: 0;
  padding-top: .5rem;
  padding-right: 3.5rem;
  font-size: 1.5rem;
  max-width: 15em;
}

.btn-big {
  display: inline-block;
  font-size: 1.5rem;
  padding: .5em .75em;
  background-color: #666;
  color: #fff;
  border-radius: 8px;
  margin-top: .9em;
}

.btn-big:hover {
  background-color: #000;
